<!DOCTYPE html>
<head>
    <title>Значения</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    @RenderBody()

    <footer class="border-top footer">
        <p>
            <a href="https://www.youtube.com/watch?v=zJODMh2cULg">Моргенштерн - Дуло</a>
                |   
            <a href="https://warthunder.com/de/animeplay?r=semplay4free#/">Качай War Thunder прямо сейчас</a>
        </p>
    </footer>
</body>